<!--header-->

<template>
  <div class="header-content">
    <div class="hd-box">
      <img src="../assets/left.png" alt="back" class="back-icon"  onclick="javascript:history.go(-1);">
      <div class="header-title">{{headerTitle}}</div>
      <img src="../assets/home.png" alt="" class="home-icon" @click="goHome" >
    </div>
  </div>
</template>

<script>
  export default {
    name: 'nov-header',
    props: {
      headerTitle: {
        default: ''
      }
    },
    data () {
      return {}
    },
    mounted () {
    },
    methods: {
      goHome () {
        this.$router.push({path: '/'})
      },
      goBackTo () {
        console.log(this.$router)
        window.history.go(-1)
      }
    },
    computed: {},
    components: {},
    watch: {}
  }
</script>
<style  lang="less">
  .hd-box {
    background: red;
    height: 60px;
  }
 
</style>
