<template>
<div> 
  <section >
      <card :header="{title: ('My wallet')}">
      <div slot="content" class="card-demo-flex card-demo-content01">
        <div class="vux-1px-r">
          <span>1130</span>
          <br/>
          {{ ('Point') }}
        </div>
        <div class="vux-1px-r">
          <span>15</span>
          <br/>
          {{ ('Coupon') }}
        </div>
        <div class="vux-1px-r">
        
          <br/>
          {{ ('Gift card') }}
        </div>
        <div>
          <span>88</span>
          <br/>
          {{ ('Cash') }}
        </div>
      </div>
    </card>
  </section>
  <div class="check">123</div>
</div>
</template>

<script>
import { Card } from "vux";
// import nHeader from "@/components/header.vue";
// import axios from "axios";
export default {
  components: {
    Card
  },
  async asyncData(context) {
  //   // called every time before loading the component\

  //   // let data = await axios.get(`https://m.novelcamp.net/book/chapter`, {
  //   //   chapterSequence: 1,
  //   //   bookId: 11279
  //   // });
  // context.store.commit('nuxtState');
 console.log(context)
    // context.store.commit("increment", data.data.data.chapterSequence);

  //   return { num: context.store.state.counter };
  },
  mounted () {
    console.log(this.$store, '3333');
  },
  methods: {
    showToast(text, time) {
			const config = {
				text: text,
				type: 'text',
				width: '10.6em',
				time: time || 2500
			};
			this.$vux.toast.show(config);
		}
  }
};
</script>

<style scoped lang="less">
@import "~vux/src/styles/1px.less";
@import "../assets/styles/base.less";
@import "../assets/styles/theme.less";

</style>
